.chapters-wrapper {
  grid-column: span 3;
  background-color: #fafafa;
  padding: 4rem 2rem;
  height: auto;
  font-size: 32px;
  font-weight: 800;
}

.chapters-wrapper > span + .chapter {
  margin-top: calc(4rem - 7px);
}

.chapter {
  margin-top: calc(2rem - 7px);
  font-size: 16px;
  font-weight: 400;
  display: flex;
  align-items: center;
}

.chapters-wrapper > span {
  display: inline;
}

.chapter > .chapter-color {
  height: 8px;
  aspect-ratio: 1/1;
  margin-right: 0.5rem;
  border-radius: 50%;
}

.chapter > a {
  display: inline;
  position: relative;
  padding-right: 1rem;
}

.chapter > .notification {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0f8040;
  color: white;
  border-radius: 50%;
  font-size: 12px;
  aspect-ratio: 1/1;
  width: 1.5rem;
  min-width: 1.5rem;
  user-select: none;
}

/* footer chapter list */

footer .chapters-wrapper{
  display: flex;
  justify-content: space-between;
  column-gap: 4rem;
  margin: 0 auto;
  background: none;
  padding: 0;
}

footer .chapter{
  font-size: 14px;
  margin-top: 0;
}

footer .chapter + .chapter{
  margin-top: 1.25rem;
}

footer .chapter a{
  padding: 0;
  color: #b2b2b2;
}

footer .chapter .notification,
footer .chapter > span{
  display: none;
}


@media (max-width: 1280px) {
  .chapters-wrapper {
    grid-column: span 4;
    padding: 3.25rem 1.5rem;
  }

  .chapters-wrapper > span {
    font-size: 28px;
  }

  .chapters-wrapper > span + .chapter {
    margin-top: 3.25rem;
  }

  footer .chapter + .chapter{
    margin-top: 1rem;
  }

  footer .chapters-wrapper{
    column-gap: 1.5rem;
  }

  .upper .upper-right{
    margin-left: clamp(2px, 3.75vw, 3rem);
  }
}

@media (max-width: 768px) {
  header .chapters-wrapper {
    order: initial;
    background-color: initial;
  }
  .chapters-wrapper > span + .chapter {
    margin-top: 2rem;
  }

  .high-article {
    grid-row: span 1;
    height: auto;
  }

  .high-article + .static-article {
    grid-row: span 1;
    height: auto;
  }

  .static-article,
  .long-article {
    height: 308px;
  }

  .chapters-wrapper {
    padding: 2.25rem 1.5rem 2.25rem 1.5rem;
    grid-column: span 2;
    order: 1;
    grid-row: span 2;
  }

.chapter {
    font-weight: 600;
    font-size: 14px;
  }

  footer .chapters-wrapper{
    margin-bottom: 4rem;
    column-gap: 3.25rem;
  }
}

@media (max-width: 480px) {
  .chapters-wrapper {
    grid-column: span 1;
    order: 2;
  }

  header .chapters-wrapper {
    display: block !important;
  }
}
