<div class="article @@additional" style='--article-bg: url("@@bg_url")'>
    <div class="top-strip" style="--strip-color: @@stripcolor">
        <ul>
            <li><a href="#">
                <img src="img/sites/fb.svg"/>
            </a></li>
            <li><a href="#">
                <img src="img/sites/tw.svg"/>
            </a></li>
            <li><a href="#">
                <img src="img/sites/li.svg"/>
            </a></li>
        </ul>
        
        <div>@@category</div>
    </div>
    
    <div class="text-stat-wrapper">
        <h2>Мілкий текст високої статті написано тут</h2>
        
        <div class="article-footer">
            <a href="#" class="article-link">Детальніше</a>
            
            <div class="stat-wrapper">
                <div class="stats">
                    <span class="views">@@views</span>
                    <span class="comments">@@comments</span>
                    <span class="shares">@@shares</span>
                </div>
                <div class="author-wrapper">
                    <img src="img/test-login-pic.png"/>
                    
                    <div>
                        <span class="nickname">aeroboy123</span>
                        <span class="date">7 бер. 2025</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>