<footer class="">
    <button class="hide-show"></button>
    
    <div class="upper">
        <div class="upper-left">
            <div class="links">
                <ul>
                    <li><a href="#">Про нас</a></li>
                    <li><a href="#">Контакти</a></li>
                    <li><a href="#">Угода користувача</a></li>
                </ul>
                <div class="image-links">
                    <a href="#"><img src="img/footer/footer_fb.svg"/></a>
                    <a href="#"><img src="img/footer/footer_li.svg"/></a>
                    <a href="#"><img src="img/footer/footer_tw.svg"/></a>
                </div>
            </div>
            
            <div class="categories">
                <div class="category-column">
                    <a href="#"><span style="--category-color: #e81e62">Енергія вітру</span></a>
                    <a href="#"><span style="--category-color: #f34236">Сонячна енергія</span></a>
                    <a href="#"><span style="--category-color: #663ab6">Гідроенергетика</span></a>
                    <a href="#"><span style="--category-color: #2290e9">Енергія приливів</span></a>
                </div>
                <div class="category-column">
                    <a href="#"><span style="--category-color: #e81e62">Енергія вітру</span></a>
                    <a href="#"><span style="--category-color: #f34236">Розсіяна теплова енергія asgasgadf af</span></a>
                    <a href="#"><span style="--category-color: #663ab6">Гідроенергетика</span></a>
                    <a href="#"><span style="--category-color: #2290e9">Енергія приливів</span></a>
                </div>
                <div class="category-column">
                    <a href="#"><span style="--category-color: #e81e62">Енергія вітру</span></a>
                    <a href="#"><span style="--category-color: #f34236">Сонячна енергія</span></a>
                    <a href="#"><span style="--category-color: #663ab6">Гідроенергетика</span></a>
                    <a href="#"><span style="--category-color: #2290e9">Енергія приливів</span></a>
                </div>
            </div>
        </div>
        
        <div class="upper-right">
            <span class="newsletter-main">Хочеш бути у курсі останніх новин?</span>
            <span class="newsletter-secondary">Підпишись на нашу розсилку та отримуй першим найсвіжіше.</span>
            
            <form action="" method="post" class="newsletter-form">
                <input type="email" placeholder="Введіть свій email"/>
                <button type="submit">Підписатись</button>
            </form>
        </div>
    </div>
    
    <div class="lower">
        
        <span class="copyright">Copyright © Sourcenergy 2025. Усі права захищено.</span>
        
        <div class="image-links">
            <a href="#"><img src="img/footer/footer_fb.svg"/></a>
            <a href="#"><img src="img/footer/footer_li.svg"/></a>
            <a href="#"><img src="img/footer/footer_tw.svg"/></a>
        </div>
        
        <div>
            <span class="design-credits">Дизайн сайту</span>
            <span class="dev-credits">Розробка: <span class="dev-credits underscored"> Seiger</span></span>
        </div>
    </div>
</footer>