<header class="container">
    
    <div class="mobile-menu-wrapper">
        <div class="mobile-menu">
                    <span class="close-logo-wrapper">
                        <button>
                            <img src="img/gray-crossmark.svg"/>
                        </button>
                        <img src="img/logo.svg"/>
                    </span>
            
            <div class="register-login-wrapper">
                <a href="#" class="button-styled-link">Реєстрація</a>
                <a href="#" class="button-styled-link secondary">Вхід</a>
            </div>
            
            <span class="delimiter"></span>
            
            @@include('chapters.html')
            
            <span class="delimiter"></span>
            
            <ul class="mobile-nav-wrapper">
                <li>
                    <a href="#" class="control">
                        Бібліотека
                    </a>
                </li>
                
                <li>
                    <a href="#" class="control">
                        Відеоблог
                    </a>
                </li>
                
                <li>
                    <a href="#" class="control">
                        Про проект
                    </a>
                </li>
                
                <li>
                    <a href="#" class="control">
                        Контакти
                    </a>
                </li>
            </ul>
            
            <span class="delimiter"></span>
            
            <div class="searchbox-wrapper">
                <input type="search" placeholder="Пошук за сайтом"/>
                <button type="submit"></button>
            </div>
            
            <div class="mobile-language-wrapper">
                <div class="mobile-language-selector">
                    <div class="selected-option">
                        <img class="language-shield" src="img/languages/uk-ua.png"/>
                        Українська
                    </div>
                    
                    <div class="option">
                        <img class="language-shield" src="img/languages/uk-ua.png"/>
                        Українська
                    </div>
                    
                    <div class="option">
                        <img class="language-shield" src="img/languages/en-us.png"/>
                        Англійська
                    </div>
                    
                    <div class="option">
                        <img class="language-shield" src="img/languages/de-de.png"/>
                        Німецька
                    </div>
                </div>
            </div>
        
        </div>
    </div>
    
    
    <div class="desktop-menu">
        <button class="burger-wrapper">
            <img src="img/burger.svg">
        </button>
        <img src="/img/logo.svg" class="logo-image">
        <nav><ul class="navlinks-wrapper">
            <li><a class="image-text-wrapper control" href="#">
                Розділи
            </a></li>
            <li><a class="control" href="#">
                Бібліотека
            </a></li>
            <li><a class="control active" href="#">
                Відеоблог
            </a></li>
            <li><a class="control" href="#">
                Про проект
            </a></li>
            <li><a class="control" href="#">
                Контакти
            </a></li>
        </ul></nav>
        <div class="searchbox-wrapper">
            <input type="search" placeholder="Пошук за сайтом"/>
            <button type="submit"></button>
        </div>
        <div class="buttons-wrapper">
            <div class="language-selector-wrapper" onclick=switchLanguageSelector()>
                <img src="img/languages/uk-ua.png" class="language-shield"/>
                <div class="hidden">
                    <img src="/img/languages/uk-ua.png"/>
                    <img src="/img/languages/en-us.png"/>
                    <img src="/img/languages/de-de.png"/>
                </div>
            </div>
            
            <div class="cart-wrapper">
                <img src="/img/cart.svg"/>
                <img src="/img/new_notif.svg">
                
                <div class="mobile-cart">
                    
                    <div class="items-wrapper">
                        <div class="item">
                            <div>
                                <img src="/img/cart-examples/example-1.png"/>
                                <div>
                                    <span class="price">$12.99</span>
                                    <span class="name">Альтернативные источники энергии и энергосбережение</span>
                                    <span class="file">mobi</span>
                                </div>
                            </div>
                            
                            <button>
                                <img src="/img/gray-crossmark.svg"/>
                            </button>
                        </div>
                        
                        <div class="item">
                            <div>
                                <img src="/img/cart-examples/example-2.png"/>
                                <div>
                                    <span class="price discounted">$12.99</span>
                                    <span class="name">Альтернативные источники энергии и энергосбережение</span>
                                    <span class="file">pdf</span>
                                </div>
                            </div>
                            
                            <button>
                                <img src="/img/gray-crossmark.svg"/>
                            </button>
                        </div>
                        
                        <div class="item">
                            <div>
                                <img src="/img/cart-examples/example-3.png"/>
                                <div>
                                    <span class="price">$12.99</span>
                                    <span class="name">Альтернативные источники энергии и энергосбережение</span>
                                    <span class="file">mobi</span>
                                </div>
                            </div>
                            <button>
                                <img src="/img/gray-crossmark.svg"/>
                            </button>
                        </div>
                    </div>
                    
                    <div class="order-controls">
                                <span>
                                    <span>До оплати</span>
                                    <span>$22.97</span>
                                </span>
                        
                        <span>
                                    <button class="secondary">Подивитись кошик</button>
                                    <button class="primary">Оформити замовлення</button>
                                </span>
                    </div>
                
                </div>
            </div>
            
            <span class="notifications-wrapper">
                        <img src="/img/notification.svg">
                        <img src="/img/new_notif.svg">
                    </span>
            
            <div class="laptop-search">
                <img src="/img/searchbox.svg">
            </div>
            
            <div class="signin-wrapper">
                
                <div class="signin">
                    Вхід
                </div>
                <div class="signin-menu hidden">
                    <h2>Вхід</h2>
                    <div>
                        <div class="check-input valid">
                            <span>Email</span>
                            <div>
                                <input type="email"/>
                                <img />
                            </div>
                            <span>pauoifhsphsofpauhsif pauofhpauohf pausofh pauhofsp ahsofupauofhpafp sdufhpsuf spudfhspifud paufh paiuo</span>
                        </div>
                        <div class="check-input invalid">
                            <span>Пароль</span>
                            <div>
                                <input type="password"/>
                                <img />
                            </div>
                            <span>pauoifhsphsofpauhsif pauofhpauohf pausofh pauhofsp ahsofupauofhpafp sdufhpsuf spudfhspifud paufh paiuo</span>
                        </div>
                        <div>
                            <div class="checkbox-wrapper">
                                <input type="checkbox"/>
                                Запам'ятати
                            </div>
                            <a href="#" class="link-wrapper-small">Відновити пароль</a>
                        </div>
                    </div>
                    <button type="submit" class="primary">
                        <img src="/img/signin_white.svg"/>
                        Вхід
                    </button>
                    <span>
                                <span class="lowtext">Нема акаунту?</span>
                                <a href="#" class="link-wrapper-small">Створи тут!</a>
                            </span>
                </div>
            </div>
        </div>
        <a class="button-styled-link" href="#">
            Реєстрація
        </a>
        <div class="login-info-wrapper ">
            <img src="/img/test-login-pic.png"/>
            aeroboy123
            <button>
                <img src="/img/login-more-options.svg"/>
            </button>
        </div>
    </div>
</header>