<div class="article main-article" style='--article-bg: url(@@bg_url)'>
    <div class="top-strip" style="--strip-color: @@stripcolor">
        <ul>
            <li><a href="#">
                <img src="img/sites/fb.svg"/>
            </a></li>
            <li><a href="#">
                <img src="img/sites/tw.svg"/>
            </a></li>
            <li><a href="#">
                <img src="img/sites/li.svg"/>
            </a></li>
        </ul>
        
        <div>@@category</div>
    </div>
    
    <div class="middle-article">
        <h1>@@header</h1>
        <span>@@preview</span>
        <a class="button-styled-link">Детальніше</a>
    </div>
    
    
    <div class="article-footer link-hidden">
        <a href="#" class="article-link">Детальніше</a>
        
        <div class="stat-wrapper">
            <div class="stats">
                <span class="views">@@views</span>
                <span class="comments">@@comments</span>
                <span class="shares">@@shares</span>
            </div>
            <div class="author-wrapper">
                <img src="@@avatar"/>
                
                <div>
                    <span class="nickname">@@author</span>
                    <span class="date">@@date</span>
                </div>
            </div>
        </div>
    </div>
</div>