<div class="uniform-article @@additional" style="--category-name: '@@category'; --strip-color: @@stripcolor">
    <div>
        <img src="img/article-bgs/sunpanels2.png"/>
        
        <h3 class="article-name">
            @@header
        </h3>
        
        <span class="article-preview">
            @@text
        </span>
        
        <div class="arrow-link-wrapper">
            <a class="arrow-link" href="#">Детальніше</a>
        </div>
        
        <div class="uniform-stat-wrapper">
            <div class="uniform-stats">
                <span style="--stat-icon: url(/img/views-green.svg); --stat-icon-inverted:url(/img/views.svg);">@@views</span>
                <span style="--stat-icon: url(/img/comments-green.svg); --stat-icon-inverted:url(/img/comments.svg);">@@comments</span>
                <span style="--stat-icon: url(/img/shares-green.svg); --stat-icon-inverted:url(/img/shares.svg);">@@shares</span>
            </div>
            
            <div class="uniform-author">
                <img src="@@avatar"/>
                <div class="info-wrapper">
                    <span class="nickname">@@author</span>
                    <span>@@date</span>
                </div>
            </div>
        </div>
    </div>
</div>